<ng-container
    *ngIf="(column.canEdit == 'always' || (data['edit'] && column.canEdit == 'onedit')) ? '1' : '2' as canEdit">


    <ng-container [ngSwitch]="column.type">
        <!--    type: "text" | "textarea" | "number" | "select" | "date" | "time" | "datetime" | "checkbox" | "radio" | "file" | "image" | "inr" ...-->
        <ng-container *ngSwitchCase="'text'">
            <span *ngIf="canEdit == '2'">{{ parseData(data, column) }}</span>
            <input class="form-control" style="width: 200px;" *ngIf="canEdit == '1'" type="text"
                [value]="parseData(data, column)" [(ngModel)]="data[column.name]">
        </ng-container>
        <ng-container *ngSwitchCase="'array'">
            <ng-container *ngIf="data['permissions']">
                <div *ngFor="let array of getPermissionCopy(data) | slice:0:5">
                    {{ array.module }} <img src='assets/assets/img/arrow.png'> {{ array.name }}
                </div>
                <!-- <span *ngIf="data['permissions'] && data['permissionCopy'].length > 5" (click)="handleViewMore(data)"
                    class="text-primary" data-toggle="modal" data-target="#exampleModal" style="cursor: pointer;"> View
                    More
                </span> -->

                <span *ngIf="data['permissions'] && data['permissionCopy'].length > 5" (click)="handleViewMore(data)"
                    class="text-primary" style="cursor: pointer;">
                    View More
                </span>
            </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="column.type == 'inrSh'">
            <span *ngIf="canEdit == '2'">₹ {{ parseData(data, column) | shringAmount }}</span>
            <input *ngIf="canEdit == '1'" type="text" [value]="parseData(data, column)" [(ngModel)]="data[column.name]">
        </ng-container>
        <ng-container *ngSwitchCase="'inr'">
            <span *ngIf="canEdit == '2'">{{ parseData(data, column) | inr }}</span>
            <input *ngIf="canEdit == '1'" type="text" [value]="parseData(data, column)" [(ngModel)]="data[column.name]">
            <br>
            <span>{{ data[column.name] | numberToWord }}</span>
        </ng-container>
        <ng-container *ngSwitchCase="'file'">
            <input class="form-control" type="file" style="width: 200px;"
                (change)="handleFileChange($event, data, column.name)">

            <button class="btn btn-upload delete-case" type="button" *ngIf="data[column.name]">
                <a (click)="documentPopup(data[column.name])" style="color: blue;">View</a>
            </button>
        </ng-container>
        <ng-container *ngSwitchCase="'textarea'">
            <span *ngIf="canEdit == '2'">{{ data[column.name] }}</span>
            <textarea class="styled-textarea" *ngIf="canEdit == '1'" [value]="parseData(data, column)"
                [(ngModel)]="data[column.name]"></textarea>
        </ng-container>
        <ng-container *ngSwitchCase="'number'">
            <span *ngIf="canEdit == '2'">{{ data[column.name] }}</span>
            <input *ngIf="canEdit == '1'" type="number" [value]="parseData(data, column)"
                [(ngModel)]="data[column.name]">
        </ng-container>
        <ng-container *ngSwitchCase="'select'">
            <select *ngIf="canEdit" [(ngModel)]="data[column.name]" (ngModelChange)="handleChange(data, column.name)">
                <option *ngFor="let option of data[column.name + 'Values'] ?? column.options | keyvalue"
                    [value]="option.key">
                    <ng-container *ngIf="isObject(option.value)">
                        {{ $any(option.value)['name'] }}
                    </ng-container>
                    <ng-container *ngIf="!isObject(option.value)">
                        {{ option.value }}
                    </ng-container>
                </option>
            </select>
            <span *ngIf="!canEdit">{{ parseData(data, column) }}</span>
        </ng-container>
        <ng-container *ngSwitchCase="'button'">
            <!-- <button class="btn btn-yellow" (click)="option.actions && option.actions[column.name].action(data)">{{column.value}}</button> -->
            <!-- <button class="btn p-2 {{option.actions?.[column.name]?.btnClass ?? 'btn-yellow'}}"
          [disabled]="option.actions?.[column.name]?.disabled?.(data)"
          (click)="option.actions && option.actions[column.name].action(data)">
          {{option.actions?.[column.name]?.label? option.actions?.[column.name]?.label: column.value}}
        </button> -->

            <button class="btn {{option.actions?.[column.name]?.btnClass ?? 'btn-yellow'}}"
                [disabled]="option.actions?.[column.name]?.disabled?.(data)"
                (click)="option.actions && option.actions[column.name].action(data)">
                <span
                    *ngIf="!option.actions?.[column.name]?.isImg && option.actions?.[column.name]?.icon && option.actions?.[column.name]?.label == ''"
                    [innerHTML]="$any(option.actions?.[column.name]?.icon) | safeHtml">
                </span>
                <img *ngIf="option.actions?.[column.name]?.isImg && option.actions?.[column.name]?.icon && option.actions?.[column.name]?.label == ''"
                    [src]="option.actions?.[column.name]?.icon" class="me-3">
                <ng-container
                    *ngIf="option.actions?.[column.name]?.icon == '' && option.actions?.[column.name]?.label == ''">
                    {{column.label}}
                </ng-container>
                <ng-container
                    *ngIf="(option.actions?.[column.name]?.icon == '' || option.actions?.[column.name]?.icon ) && option.actions?.[column.name]?.label">
                    {{option.actions?.[column.name]?.label}}
                </ng-container>
            </button>
        </ng-container>

    </ng-container>
</ng-container>
<ng-template #permissionModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Permissions List</h5>
    <button type="button" class="close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" style="white-space: pre-line; overflow-y: auto; max-height:100%; margin-left: 2%;">
    <!-- <p><strong>Total:</strong> {{ permissionList.length }}</p> -->
    <!-- <pre>{{ permissionList | json }}</pre> -->
    <p *ngFor="let permission of permissionList">
      {{ permission.module }} → {{ permission.name }}
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-yellow" (click)="modal.close()">Close</button>
  </div>
</ng-template>