
    <div class="card-main m-4 p-4">
        <div>
            <h5 class="my-3">Company Details</h5>
            <div class="d-flex gap-5">
                <h4 class="user-details">Company Name <p class="py-2 mb-0"><strong>{{ companyDetails.name }}</strong>
                    </p>
                </h4>

                <h4 class="user-details">Company Address<p class="py-2 mb-0">
                    <strong>{{ companyDetails.address}}</strong></p>
                </h4>
            </div>
            <div class="d-flex gap-5 mt-3">
                <h4 class="user-details">CIN Number<p class="py-2 mb-0"><strong>{{ companyDetails.cin }}</strong></p>
                </h4>

                <h4 class="user-details">Company Pan Number<p class="py-2 mb-0"><strong>{{ companyDetails.pan}}</strong></p>
                </h4>
            </div>

        </div>
        <div>
            <h5 class="mt-5 mb-3">Representative Details</h5>
            <div class="d-flex gap-5">
                <h4 class="user-details">Email Address <p class="py-2 mb-0"><strong>{{ repDetails.email }}</strong></p>
                </h4>
                <h4 class="user-details">Mobile Number<p class="py-2 mb-0"><strong>{{ repDetails.mobile }}</strong></p>
                </h4>
                <h4 class="user-details">Alternative Mobile Number<p class="py-2 mb-0"><strong>{{ repDetails.altMobile}}</strong></p>
                </h4>
            </div>

        </div>
    </div>