:host {
    display: block;
    width: 500px;
    padding: 50px 75px 60px;
    border-radius: 30px;
    text-align: center;
    position: relative;
    background-color: #fff;
    @media (max-width:540px)
    {width:90vw;
    padding: 3rem;
}
    .closeMdl {
        position:absolute;
        right: 15px;
        top: 40px;
        border-radius: 60%;
        border: 0;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color: #707070;
        background-color: #e2e2e2;
        cursor: pointer;
    }
    .singleInput {
        border-color: #1a1a1a80;
        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #1A1A1A;
            opacity: 1;
            /* Firefox */
        }
        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #1A1A1A;
            opacity: 1;
        }
        &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #1A1A1A;
            opacity: 1;
        }
    }
}

.digit {
    border: none;
    border-bottom: 2px solid #1a1a1a80;
    outline: none;
    width: 25px;
    max-width: 25px;
    font-size: 30px;
    margin: 0 10px;
    text-align: center;
    background-color: transparent;
    opacity: 0.5;
}

.digit::-webkit-outer-spin-button,
.digit::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}

.verify-otp-btn {
    color: #fff;
}

.p-title {
    text-align: center;
    letter-spacing: 0px;
    color: black;
    opacity: 1;
    font: message-box;
    font-size: 24px;
    /* margin-top: 40px; */
    margin-bottom: 20px;
    font-weight: 600;
    @media (max-width:990px)
    {font-size:14px;}
}

.mesg {
    font-size: 13px;
    color: #1a1a1a;
    margin: 0;
}

.expire {
    color: #1179a7;
    font-size: 13px;
}

#verifyOtpBtn {
    font-size: 15px;
    width:100%
}

.submitbtn {
    margin-top: 15px;
    /* margin-bottom: 46px; */
}
