.add-filter{margin-top:27px;
}
@media (max-width: 1400px) {
    .form-control {
        height: auto;
    }
}
select.form-control {
    padding: 0.75rem 1.25rem;
}

.filter-box{
    border:1px solid #e0d9d9;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;

    >* {
        gap: 10px;
    }
 
    span{
        font-size: 14px;
        text-transform: capitalize;
        white-space: nowrap;
    }
    .btn{
        font-size:16px;
        color:#c82333;
    }
}