<div class="overview-wrapper">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="fw-semibold mb-0">Overview</h3>

        <button class="btn btn-outline-secondary d-flex align-items-center gap-2">
            <i class="bi bi-calendar"></i>
            Today
        </button>
    </div>
    <div class="row g-3 mb-4">
        <div class="col-lg-4">
            <div class="stat-card">
                <p class="label">Live Occupancy</p>
                <h2 class="value">{{dwellDetails?.dwellRecords}}</h2>
                <p class="trend up">▲ 10% More than yesterday</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stat-card">
                <p class="label">Today’s Footfall</p>
                <h2 class="value">{{footfallDetails?.footfall}}</h2>
                <p class="trend down">▼ 10% Less than yesterday</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stat-card">
                <p class="label">Avg Dwell Time</p>
                <h2 class="value">{{ convertMinutesToHms(dwellDetails?.avgDwellMinutes) }}</h2>
                <p class="trend up">▲ 6% More than yesterday</p>
            </div>
        </div>
    </div>
    <div class="chart-card">
        <div class="chart-header">
            <h4>Overall Occupancy</h4>

            <div class="chart-legend">
                <span class="legend-dot"></span>
                <span class="legend-text">Occupancy</span>
            </div>
        </div>
        <div class="chart-body">
            <canvas baseChart [data]="occupancyChartData" [options]="occupancyChartOptions" chartType="line">
            </canvas>
        </div>
    </div>
    <div class="row g-3 mt-3">

        <div class="col-md-4">
            <div class="card p-3 h-100">
                <h6 class="mb-3">Chart of Demographics</h6>

                <div style="height:220px">
                    <canvas baseChart [data]="demographicsDonutData" [options]="demographicsDonutOptions"
                        [plugins]="[demographicsCenterTextPlugin]" chartType="doughnut">
                    </canvas>
                </div>

                <div class="mt-3 text-center small">
                    <div>👨 {{ malePercent || 0 }}% Males</div>
                    <div>👩 {{ femalePercent || 0 }}% Females</div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card p-3 h-100">
                <h6 class="mb-3">Demographics Analysis</h6>

                <div style="height:260px">
                    <canvas baseChart [data]="demographicsLineData" [options]="demographicsLineOptions"
                        chartType="line">
                    </canvas>
                </div>
            </div>
        </div>

    </div>



</div>