<div class="login-card">
    <div class="login-header">
      <img src="assets/img/kloudspot.png" alt="Kloudspot" />
    </div>
    <form class="login-form" [formGroup]="loginForm">
       <div class="form-group position-relative">
      <input type="text" id="name" class="form-control" required formControlName="email" autocomplete="username">
      <label class="form-control-placeholder" for="name">Log In</label>
        <app-show-errors [ctrl]="loginForm.get('email')"
                        [requiredMesg]="'Email is Required'">
                    </app-show-errors>
    </div>
    <div class="form-group position-relative">
      <input type="password" id="password" class="form-control" required formControlName="password" appShowHidePassword
        autocomplete="current-password">
      <label class="form-control-placeholder" for="password">Password</label>
         <app-show-errors [ctrl]="loginForm.get('password')"
                        [requiredMesg]="'Password is Required'">
                    </app-show-errors>
    </div>
      <button type="button" class="login-btn" (click)="Login()">
        Login
      </button>
    </form>
  </div>
