::ng-deep app-login {
width:100%;
}
.right-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 360px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.login-header {
  width: 374px;
  height: 110px;
  background-color: #0A5D5C;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;       
  border-radius: 10px 10px 0 0;
}

.login-header img {
  height: 35px;
  object-fit: contain;
}
/* FORM */
.login-form {
  padding: 25px;
}

.icon-input {
  margin-bottom: 20px;
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.input-icon img {
  width: 18px;
  opacity: 0.7;
}

.icon-input input {
  width: 100%;
  padding: 12px 12px 12px 42px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Floating Label */
.icon-input label {
  position: absolute;
  left: 42px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #999;
  background: #fff;
  padding: 0 5px;
  pointer-events: none;
  transition: 0.3s;
}

.icon-input input:focus + label,
.icon-input input:not(:placeholder-shown) + label {
  top: -6px;
  font-size: 12px;
  color: #0A5D5C;
}

.login-btn {
  width: 100%;
  background: #009490;
  color: #fff;
  padding: 12px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

