<div class="">
    <!-- Escrow Info -->
    <div class="card-main mb-4">
        <div class="" *ngIf="_EditEscrowService.escrowDetails$ | async as escrowDetails">
            <div class="d-flex gap-5 p-4 ">
                <h4 class="user-details"><strong>Escrow ID:</strong> {{escrowDetails.escrow_id}}</h4>
            </div>
            <div class="border-bottom"></div>
            <div class="d-flex gap-5 p-4 justify-content-between flex-wrap">
                <h4 class="user-details"><strong>Depositor Company:</strong>
                    <p class="mt-3 mb-0">{{escrowDetails.depositor.company_name}}</p>
                </h4>
                <h4 class="user-details"><strong>Depositor Rep:</strong>
                    <p class="mt-3 mb-0">{{escrowDetails.depositor.corporate_details.rep_name}}</p>
                </h4>
                <h4 class="user-details"><strong>Beneficiary Company:</strong>
                    <p class="mt-3 mb-0">{{escrowDetails.beneficiary.company_name}}</p>
                </h4>
                <h4 class="user-details"><strong>Beneficiary Rep:</strong>
                    <p class="mt-3 mb-0">{{escrowDetails.beneficiary.corporate_details.rep_name}}</p>
                </h4>
                <h4 class="user-details"><strong>Type of Escrow:</strong>
                    <p class="mt-3 mb-0"> {{escrowDetails.escrow_type}}</p>
                </h4>
                <h4 class="user-details"><strong>Stage:</strong>
                    <p class="mt-3 mb-0">{{escrowDetails.stage}}</p>
                </h4>
            </div>

        </div>
    </div>

    <div class="card-main mb-4 p-4 pb-5">
        <div class="d-flex align-items-center step-tracker"
            *ngIf="_EditEscrowService.currentStep$ | async as currentStep">
            <div *ngFor="let step of _EditEscrowService.steps; let i = index"
                [ngClass]="{'flex-fill': i != _EditEscrowService.steps.length - 1 }"
                class="step-wrapper d-flex align-items-center">

                <!-- Circle -->
                <div class="text-center">
                    <div [ngClass]="{
          'circle': true,
          'completed': step.step < currentStep,
          'active': step.step === currentStep,
          'upcoming': step.step > currentStep
        }">
                        <span *ngIf="step.step < currentStep"><i class="fa-solid fa-check"></i></span>
                        <span *ngIf="step.step === currentStep" style="color:#062745;">●</span>
                        <span *ngIf="step.step > currentStep" style="color:#E6EFF5;">○</span>
                    </div>
                    <div class="mt-2 position-absolute">{{ step.name }}</div>
                </div>

                <!-- Line (not after last step) -->
                <div *ngIf="i < _EditEscrowService.steps.length - 1" class="line flex-fill"
                    [ngClass]="{ 'completed-line': step.step < currentStep, 'upcoming-line': step.step >= currentStep}">
                </div>

            </div>
        </div>
    </div>

  <app-edit-escrow-details />
</div>
<!-- Deposit Form -->
