@media (min-width: 1600px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-2xl,
  .container-3xl {
    max-width: 1520px;
  }
  .col-3xl-1, .col-3xl-2, .col-3xl-3, .col-3xl-4, .col-3xl-5, .col-3xl-6, .col-3xl-7, .col-3xl-8, .col-3xl-9, .col-3xl-10, .col-3xl-11, .col-3xl-12, .col-3xl,
  .col-3xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-3xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .row-cols-3xl-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .row-cols-3xl-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row-cols-3xl-3 > * {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .row-cols-3xl-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row-cols-3xl-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .row-cols-3xl-6 > * {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-3xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-3xl-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-3xl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-3xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-3xl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-3xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-3xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-3xl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-3xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-3xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-3xl-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-3xl-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-3xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-3xl-first {
    order: -1;
  }
  .order-3xl-last {
    order: 13;
  }
  .order-3xl-0 {
    order: 0;
  }
  .order-3xl-1 {
    order: 1;
  }
  .order-3xl-2 {
    order: 2;
  }
  .order-3xl-3 {
    order: 3;
  }
  .order-3xl-4 {
    order: 4;
  }
  .order-3xl-5 {
    order: 5;
  }
  .order-3xl-6 {
    order: 6;
  }
  .order-3xl-7 {
    order: 7;
  }
  .order-3xl-8 {
    order: 8;
  }
  .order-3xl-9 {
    order: 9;
  }
  .order-3xl-10 {
    order: 10;
  }
  .order-3xl-11 {
    order: 11;
  }
  .order-3xl-12 {
    order: 12;
  }
  .offset-3xl-0 {
    margin-left: 0;
  }
  .offset-3xl-1 {
    margin-left: 8.333333%;
  }
  .offset-3xl-2 {
    margin-left: 16.666667%;
  }
  .offset-3xl-3 {
    margin-left: 25%;
  }
  .offset-3xl-4 {
    margin-left: 33.333333%;
  }
  .offset-3xl-5 {
    margin-left: 41.666667%;
  }
  .offset-3xl-6 {
    margin-left: 50%;
  }
  .offset-3xl-7 {
    margin-left: 58.333333%;
  }
  .offset-3xl-8 {
    margin-left: 66.666667%;
  }
  .offset-3xl-9 {
    margin-left: 75%;
  }
  .offset-3xl-10 {
    margin-left: 83.333333%;
  }
  .offset-3xl-11 {
    margin-left: 91.666667%;
  }
  .modal-3xl {
    max-width: 1520px;
  }
  .m-3xl-0 {
    margin: 0 !important;
  }
  .mt-3xl-0,
  .my-3xl-0 {
    margin-top: 0 !important;
  }
  .mr-3xl-0,
  .mx-3xl-0 {
    margin-right: 0 !important;
  }
  .mb-3xl-0,
  .my-3xl-0 {
    margin-bottom: 0 !important;
  }
  .ml-3xl-0,
  .mx-3xl-0 {
    margin-left: 0 !important;
  }
  .m-3xl-1 {
    margin: 0.25rem !important;
  }
  .mt-3xl-1,
  .my-3xl-1 {
    margin-top: 0.25rem !important;
  }
  .mr-3xl-1,
  .mx-3xl-1 {
    margin-right: 0.25rem !important;
  }
  .mb-3xl-1,
  .my-3xl-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-3xl-1,
  .mx-3xl-1 {
    margin-left: 0.25rem !important;
  }
  .m-3xl-2 {
    margin: 0.5rem !important;
  }
  .mt-3xl-2,
  .my-3xl-2 {
    margin-top: 0.5rem !important;
  }
  .mr-3xl-2,
  .mx-3xl-2 {
    margin-right: 0.5rem !important;
  }
  .mb-3xl-2,
  .my-3xl-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-3xl-2,
  .mx-3xl-2 {
    margin-left: 0.5rem !important;
  }
  .m-3xl-3 {
    margin: 1rem !important;
  }
  .mt-3xl-3,
  .my-3xl-3 {
    margin-top: 1rem !important;
  }
  .mr-3xl-3,
  .mx-3xl-3 {
    margin-right: 1rem !important;
  }
  .mb-3xl-3,
  .my-3xl-3 {
    margin-bottom: 1rem !important;
  }
  .ml-3xl-3,
  .mx-3xl-3 {
    margin-left: 1rem !important;
  }
  .m-3xl-4 {
    margin: 1.5rem !important;
  }
  .mt-3xl-4,
  .my-3xl-4 {
    margin-top: 1.5rem !important;
  }
  .mr-3xl-4,
  .mx-3xl-4 {
    margin-right: 1.5rem !important;
  }
  .mb-3xl-4,
  .my-3xl-4 {
    margin-bottom: 1.5rem !important;
  }
  .ml-3xl-4,
  .mx-3xl-4 {
    margin-left: 1.5rem !important;
  }
  .m-3xl-5 {
    margin: 3rem !important;
  }
  .mt-3xl-5,
  .my-3xl-5 {
    margin-top: 3rem !important;
  }
  .mr-3xl-5,
  .mx-3xl-5 {
    margin-right: 3rem !important;
  }
  .mb-3xl-5,
  .my-3xl-5 {
    margin-bottom: 3rem !important;
  }
  .ml-3xl-5,
  .mx-3xl-5 {
    margin-left: 3rem !important;
  }
  .p-3xl-0 {
    padding: 0 !important;
  }
  .pt-3xl-0,
  .py-3xl-0 {
    padding-top: 0 !important;
  }
  .pr-3xl-0,
  .px-3xl-0 {
    padding-right: 0 !important;
  }
  .pb-3xl-0,
  .py-3xl-0 {
    padding-bottom: 0 !important;
  }
  .pl-3xl-0,
  .px-3xl-0 {
    padding-left: 0 !important;
  }
  .p-3xl-1 {
    padding: 0.25rem !important;
  }
  .pt-3xl-1,
  .py-3xl-1 {
    padding-top: 0.25rem !important;
  }
  .pr-3xl-1,
  .px-3xl-1 {
    padding-right: 0.25rem !important;
  }
  .pb-3xl-1,
  .py-3xl-1 {
    padding-bottom: 0.25rem !important;
  }
  .pl-3xl-1,
  .px-3xl-1 {
    padding-left: 0.25rem !important;
  }
  .p-3xl-2 {
    padding: 0.5rem !important;
  }
  .pt-3xl-2,
  .py-3xl-2 {
    padding-top: 0.5rem !important;
  }
  .pr-3xl-2,
  .px-3xl-2 {
    padding-right: 0.5rem !important;
  }
  .pb-3xl-2,
  .py-3xl-2 {
    padding-bottom: 0.5rem !important;
  }
  .pl-3xl-2,
  .px-3xl-2 {
    padding-left: 0.5rem !important;
  }
  .p-3xl-3 {
    padding: 1rem !important;
  }
  .pt-3xl-3,
  .py-3xl-3 {
    padding-top: 1rem !important;
  }
  .pr-3xl-3,
  .px-3xl-3 {
    padding-right: 1rem !important;
  }
  .pb-3xl-3,
  .py-3xl-3 {
    padding-bottom: 1rem !important;
  }
  .pl-3xl-3,
  .px-3xl-3 {
    padding-left: 1rem !important;
  }
  .p-3xl-4 {
    padding: 1.5rem !important;
  }
  .pt-3xl-4,
  .py-3xl-4 {
    padding-top: 1.5rem !important;
  }
  .pr-3xl-4,
  .px-3xl-4 {
    padding-right: 1.5rem !important;
  }
  .pb-3xl-4,
  .py-3xl-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-3xl-4,
  .px-3xl-4 {
    padding-left: 1.5rem !important;
  }
  .p-3xl-5 {
    padding: 3rem !important;
  }
  .pt-3xl-5,
  .py-3xl-5 {
    padding-top: 3rem !important;
  }
  .pr-3xl-5,
  .px-3xl-5 {
    padding-right: 3rem !important;
  }
  .pb-3xl-5,
  .py-3xl-5 {
    padding-bottom: 3rem !important;
  }
  .pl-3xl-5,
  .px-3xl-5 {
    padding-left: 3rem !important;
  }
  .m-3xl-n1 {
    margin: -0.25rem !important;
  }
  .mt-3xl-n1,
  .my-3xl-n1 {
    margin-top: -0.25rem !important;
  }
  .mr-3xl-n1,
  .mx-3xl-n1 {
    margin-right: -0.25rem !important;
  }
  .mb-3xl-n1,
  .my-3xl-n1 {
    margin-bottom: -0.25rem !important;
  }
  .ml-3xl-n1,
  .mx-3xl-n1 {
    margin-left: -0.25rem !important;
  }
  .m-3xl-n2 {
    margin: -0.5rem !important;
  }
  .mt-3xl-n2,
  .my-3xl-n2 {
    margin-top: -0.5rem !important;
  }
  .mr-3xl-n2,
  .mx-3xl-n2 {
    margin-right: -0.5rem !important;
  }
  .mb-3xl-n2,
  .my-3xl-n2 {
    margin-bottom: -0.5rem !important;
  }
  .ml-3xl-n2,
  .mx-3xl-n2 {
    margin-left: -0.5rem !important;
  }
  .m-3xl-n3 {
    margin: -1rem !important;
  }
  .mt-3xl-n3,
  .my-3xl-n3 {
    margin-top: -1rem !important;
  }
  .mr-3xl-n3,
  .mx-3xl-n3 {
    margin-right: -1rem !important;
  }
  .mb-3xl-n3,
  .my-3xl-n3 {
    margin-bottom: -1rem !important;
  }
  .ml-3xl-n3,
  .mx-3xl-n3 {
    margin-left: -1rem !important;
  }
  .m-3xl-n4 {
    margin: -1.5rem !important;
  }
  .mt-3xl-n4,
  .my-3xl-n4 {
    margin-top: -1.5rem !important;
  }
  .mr-3xl-n4,
  .mx-3xl-n4 {
    margin-right: -1.5rem !important;
  }
  .mb-3xl-n4,
  .my-3xl-n4 {
    margin-bottom: -1.5rem !important;
  }
  .ml-3xl-n4,
  .mx-3xl-n4 {
    margin-left: -1.5rem !important;
  }
  .m-3xl-n5 {
    margin: -3rem !important;
  }
  .mt-3xl-n5,
  .my-3xl-n5 {
    margin-top: -3rem !important;
  }
  .mr-3xl-n5,
  .mx-3xl-n5 {
    margin-right: -3rem !important;
  }
  .mb-3xl-n5,
  .my-3xl-n5 {
    margin-bottom: -3rem !important;
  }
  .ml-3xl-n5,
  .mx-3xl-n5 {
    margin-left: -3rem !important;
  }
  .m-3xl-auto {
    margin: auto !important;
  }
  .mt-3xl-auto,
  .my-3xl-auto {
    margin-top: auto !important;
  }
  .mr-3xl-auto,
  .mx-3xl-auto {
    margin-right: auto !important;
  }
  .mb-3xl-auto,
  .my-3xl-auto {
    margin-bottom: auto !important;
  }
  .ml-3xl-auto,
  .mx-3xl-auto {
    margin-left: auto !important;
  }
}
/* ===== pseudo ===== */
/* ===== Usage ===== */
/* ===== vertically-center ===== */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center, .flex-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-between, .flex-between-center {
  display: flex;
  justify-content: space-between;
}

.flex-between-center {
  align-items: center;
}

.flex-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-end, .login-right .login-btns, .flex-end-column {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-center-column {
  flex-direction: column;
}

.flex-end-column {
  flex-direction: column;
}

.flex-center-vert {
  display: flex;
  align-items: center;
}

.flex-center-horiz {
  display: flex;
  justify-content: center;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Segoe ui", sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: 14px;
  overflow-x: hidden;
  color: #000;
  background: #F5F7FA;
}
@media only screen and (min-width: 1200px) {
  body {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1400px) {
  body {
    font-size: 18px;
  }
}

h1, h2, h3,
h4, h5, h6 {
  font-family: "Segoe ui", sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}

h1 {
  font-size: 40px;
}
@media only screen and (min-width: 1400px) {
  h1 {
    font-size: 52px;
  }
}
@media only screen and (max-width: 991px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  font-size: 28px;
}
@media only screen and (max-width: 991px) {
  h2 {
    font-size: 22px;
  }
}
h2.font-large {
  font-size: 32px;
}
@media only screen and (min-width: 1400px) {
  h2.font-large {
    font-size: 38px;
  }
}
@media only screen and (max-width: 991px) {
  h2.font-large {
    font-size: 32px;
  }
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 19px;
}

h6 {
  font-size: 15px;
  font-family: "Segoe ui", sans-serif;
}

a {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}

p {
  font-size: 16px;
}
@media only screen and (min-width: 1400px) {
  p {
    font-size: 18px;
    font-weight: 400;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.py-80 {
  padding: 40px 0px;
}
@media only screen and (min-width: 1200px) {
  .py-80 {
    padding: 80px 0px;
  }
}

.py-100 {
  padding: 50px 0px;
}
@media only screen and (min-width: 1200px) {
  .py-100 {
    padding: 100px 0px;
  }
}

.py-40 {
  padding: 20px 0px;
}
@media only screen and (min-width: 1200px) {
  .py-40 {
    padding: 40px 0px;
  }
}

.pt-100 {
  padding-top: 50px;
}
@media only screen and (min-width: 1200px) {
  .pt-100 {
    padding-top: 100px;
  }
}

.gap1 {
  gap: 4px;
}
.gap2 {
  gap: 8px;
}
.gap3 {
  gap: 12px;
}
.gap4 {
  gap: 16px;
}

.know-more {
  text-align: center;
  margin-top: 30px;
  font-weight: 600;
}
.know-more a {
  text-decoration: none;
}

.hr {
  width: 100%;
  height: 1px;
  background: #E0E0E0;
}

.blur-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.2);
  display: none;
}

.login-open .blur-bg {
  display: block;
}

.text-primary {
  color: #062745 !important;
}

.text-grey {
  color: #808080 !important;
}

.custooltip-wrap .custooltip {
  display: none;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  bottom: 150%;
  left: 50%;
  border-radius: 5px;
  padding: 8px;
  transform: translateX(-50%);
  background-color: #fff;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  box-shadow: 0px 1.33px 3.33px 0px rgba(0, 0, 0, 0.102);
}
.custooltip-wrap:hover .custooltip {
  display: block;
}

form {
  max-width: 100%;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}

label {
  font-weight: 500;
  font-size: 16px;
}
label.form-check-label {
  font-family: "Segoe ui", sans-serif;
}

.errors {
  color: #e92e40;
}

input {
  outline: 0 !important;
}

.form-control {
  font-family: "Segoe ui", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.3px;
  border: 1px solid #343C6A;
  padding: 12px 15px;
  line-height: 1.5;
  height: auto;
  box-shadow: none;
}
.form-control:focus {
  box-shadow: none;
  border-color: #e2eeff;
}
.form-control input:not([type=file i],
[type=image i],
[type=checkbox i],
[type=radio i]) {
  outline: 0 !important;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  font-size: inherit;
  line-height: inherit;
}

::-moz-placeholder {
  color: rgba(33, 37, 41, 0.3);
}

::placeholder {
  color: rgba(33, 37, 41, 0.3);
}

.form-check-label {
  font-weight: 500;
  font-size: 12px;
  color: #505154;
}

.input-group.form-control {
  flex-wrap: unset;
}
.input-group .input-group-text {
  font-family: "Segoe ui", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.3px;
  padding: 2px 5px;
  border: 0;
  border-right: 1px solid #efefef;
  background-color: transparent;
  margin-right: 10px;
}
.input-group input[type=text] {
  padding: 2px 5px;
  border: none;
  box-shadow: none;
  flex: 1;
}

.input-group-prepend {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.login-form .form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 13px;
  transition: all 200ms;
  left: 40px;
}
.login-form .form-control:focus + .form-control-placeholder,
.login-form .form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -50%, 0);
  opacity: 1;
  background-color: #fff;
  padding: 0 5px;
  margin-left: 8px;
}
.login-form .form-control {
  padding: 12px 50px;
}
.login-form .bottom-label a {
  font-size: 16px;
  color: #808080;
  font-weight: 400;
  text-decoration: none;
}

.sidebar {
  max-width: 297px;
  background-color: #062745;
}
.sidebar .nav-link {
  color: #fff;
  padding: 14px 0 14px 64px;
}
.sidebar .nav-link span svg {
  stroke: #fff;
}
@media (min-width: 992px) {
  .sidebar.offcanvas-lg {
    position: fixed;
    left: 0;
    transform: none !important;
    visibility: visible !important;
    z-index: 1045;
    background-color: #062745 !important;
  }
}

.btn {
  position: relative;
  box-shadow: none !important;
  outline: 0 !important;
  padding: 10px 35px;
  border-radius: 10px;
  font-family: "Segoe ui", sans-serif;
  border: 1px solid;
}
.btn.btn-primary {
  background: #062745;
  color: #fff;
  font-weight: 700;
  border: 2px solid #062745;
  transition: all 0.3s ease-in-out;
}
.btn.btn-primary:hover {
  box-shadow: 0px 0px 3px 3px rgba(6, 39, 69, 0.4);
}
.btn.btn-primary:active {
  background: transparent !important;
  color: #062745 !important;
  border-color: #062745 !important;
}
.btn.btn-white {
  background: #fff;
  color: #808080;
  font-weight: 700;
  border: 2px solid $gray4;
}
.btn.btn-white:hover {
  background: #062745;
  color: #fff;
}
.btn.btn-bordered {
  background: #fff;
  padding: 10px 20px;
  color: #e92e40;
  border: 0;
  border: 1px solid #e92e40;
}
.btn.btn-bordered:hover {
  background: #e92e40;
  color: #fff;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2eeff;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: auto;
  cursor: pointer;
}
.owl-carousel .owl-nav button.owl-prev span, .owl-carousel .owl-nav button.owl-next span {
  margin-top: -5px;
}
.owl-carousel .owl-nav button.owl-prev {
  left: -15px;
}
.owl-carousel .owl-nav button.owl-next {
  right: -15px;
}

.owl-carousel .owl-stage {
  display: flex;
  transition-timing-function: linear !important;
}

table {
  width: 100%;
}

.deposit-table table {
  font-size: 16px;
}
.deposit-table table th {
  color: #062745;
  padding: 16px;
}
.deposit-table table td {
  color: #767676;
  font-weight: 400;
  padding: 16px;
}

.card {
  background-color: #fff;
  color: #212529;
  padding: 25px;
  border-radius: 15px;
}

.card-dash-wrap {
  border: none;
  box-shadow: 0px 0px 5.51px 0px rgba(0, 0, 0, 0.1098039216);
}
.card-dash-wrap .row {
  row-gap: 25px;
}
.card-dash-wrap .dash-item {
  text-align: center;
  cursor: pointer;
}
.card-dash-wrap .dash-item img {
  margin-bottom: 15px;
}
.card-dash-wrap .dash-item h6 {
  font-size: 13px;
  font-weight: 500;
}

.login-sec {
  background: #fcfcfc;
}

.login-left {
  background: #062745;
  top: 0;
  bottom: 0;
  min-height: 100vh;
  text-align: left;
  z-index: 10;
  opacity: 1;
  position: relative;
  padding: 35px;
}

.logo {
  max-width: 130px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 1400px) {
  .logo {
    max-width: 160px;
    margin-bottom: 25px;
  }
}
@media only screen and (min-width: 1900px) {
  .logo {
    max-width: 230px;
    margin-bottom: 28px;
  }
}
.logo img {
  width: 100%;
}

.login-text {
  color: #fff;
  z-index: 99;
  position: relative;
}
.login-text h2 {
  margin-bottom: 18px;
  font-weight: 700;
}
@media only screen and (min-width: 1900px) {
  .login-text h2 {
    margin-bottom: 24px;
  }
}

.img-wrap {
  text-align: center;
}
.img-wrap img {
  max-width: 340px;
  width: 100%;
}
@media only screen and (min-width: 1900px) {
  .img-wrap img {
    max-width: 640px;
  }
}

.products {
  /* Fade effect */
}
.products h2 {
  color: #fff;
  font-size: 30px;
}
.products .marquee-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.products .marquee-container .marquee-track {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  animation: scrollMarquee 30s linear infinite;
  gap: 4rem;
}
@keyframes scrollMarquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.products .marquee-fade {
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}
.products .marquee-fade-left {
  left: 0;
  background: linear-gradient(to right, #062745 0%, transparent 100%);
}
.products .marquee-fade-right {
  right: 0;
  background: linear-gradient(to left, #062745 0%, transparent 100%);
}

.login-right .login-form h2 {
  font-weight: 700;
  color: #062745;
  text-align: center;
}
.login-right .login-form p {
  color: #808080;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
.login-right .login-btns {
  width: 100%;
}

.wrapper {
  transition: all 0.5s ease;
  position: relative;
  margin-left: 47px;
}
@media only screen and (min-width: 1400px) {
  .wrapper {
    margin-left: 230px;
  }
}
@media only screen and (min-width: 1900px) {
  .wrapper {
    margin-left: 297px;
  }
}

.topbar {
  background: #fff;
  margin-bottom: 0;
  padding: 24px 15px;
}

.notification {
  background-color: #fff1e2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px 25px;
  gap: 30px;
}
.notification a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

.user-card {
  background: #fff;
  border: 1px solid #F7F7F7;
  border-radius: 15px;
}
.user-card h4 {
  font-weight: 400;
}
.user-card .box {
  background: #DAEEFF;
  border-radius: 20px;
  width: 82px;
  height: 93px;
}
.user-card .box.box-pink {
  background: #FFD9DC;
}
.user-card .box-img {
  position: absolute;
  top: 20px;
  left: -22px;
}

.filter-box {
  background: #fff;
  border: 1px solid $gray4;
  border-radius: 10px;
  align-items: center;
}
.filter-box form .form-select, .filter-box form .form-control {
  border: 1px solid $gray4;
  height: 55px;
  border-radius: 10px;
  color: #808080;
  font-weight: 400;
}

.deposit-table {
  background: #fff;
  border: 1px solid #F7F7F7;
  border-radius: 10px;
}/*# sourceMappingURL=main.css.map */