bs-datepicker-container,
bs-daterangepicker-container {
    .bs-datepicker {
        box-shadow: 0px 0px 20px #00000029;
        border-radius: 10px;
        .bs-datepicker-container .bs-media-container {
            &>* {
                border: 1px solid #dbdbdb;
                margin: 0 5px;
                border-radius: 5px;
            }
            .bs-datepicker-head {
                background-color: #fff;
                button,
                button[disabled] {
                    color: #707070;
                    &:hover:not([disabled]) {
                        background: transparent linear-gradient(134deg, #1179a7 0%, #093d54 100%) 0% 0% no-repeat padding-box;
                        color: #fff;
                    }
                }
            }
            .bs-datepicker-body {
                border: none;
                table td span[class*="select-"],
                table td span.selected {
                    background: transparent linear-gradient(180deg, #35a64c 0%, #136e25 100%) 0% 0% no-repeat padding-box;
                }
            }
        }
        .bs-datepicker-custom-range {
            background: #fff;
            .bs-datepicker-predefined-btns button {
                background-color: #f2f2f2;
                color: #707070;
                box-shadow: none;
                &:hover {
                    color: #ffffff;
                    background-color: #1179a7;
                }
            }
        }
    }
}

// .bs-datepicker-body table.days td.active:not(.select-start):before,
// .bs-datepicker-body table.days td.in-range:not(.select-start):before,
// .bs-datepicker-body table.days span.active:not(.select-start):before,
// .bs-datepicker-body table.days span.in-range:not(.select-start):before {
//   background: #e9edf0;
// }