<div class="row">
  <div class="col-12 col-lg-6 col-xl-6 login-left">
    <div class="logo"><img src="assets/img/logo.png" width="300" alt="SprintExcode"></div>
    <div class="d-flex justify-content-center flex-column">
      <div class="login-text">
        <h2 class="font-large">A Safe Bridge Between Creators and User</h2>
        <p class="pe-5">SprintExcode connects software providers and users with a secure escrow system. Providers
          know
          their code
          is stored safely, and users know they’ll get access if support ever stops. One platform, built on trust
          for
          both parties</p>
      </div>
      <div class="img-wrap z-index-1 position-relative py-4"><img src="assets/img/login-bg.png" alt="SprintExcode"
                                                                  class="img-fluid"></div>
      <div class="products py-4">
        <h2>Our Products!</h2>
        <div class="marquee-container py-40" id="marquee-container2">
          <!-- Left Fade -->
          <div class="marquee-fade marquee-fade-left"></div>

          <!-- Right Fade -->
          <div class="marquee-fade marquee-fade-right"></div>
          <div class="marquee-track" id="marquee-track2">
            <div>
              <img src="assets/img/logos/excode-logo.png" alt="">
            </div>
            <div>
              <img src="assets/img/logos/verify-logo.png" alt="">
            </div>
            <div>
              <img src="assets/img/logos/excode-logo.png" alt="">
            </div>
            <div>
              <img src="assets/img/logos/verify-logo.png" alt="">
            </div>
            <div>
              <img src="assets/img/logos/excode-logo.png" alt="">
            </div>
            <div>
              <img src="assets/img/logos/verify-logo.png" alt="">
            </div>
            <div>
              <img src="assets/img/logos/excode-logo.png" alt="">
            </div>
            <div>
              <img src="assets/img/logos/verify-logo.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 col-xl-6 align-items-center d-flex">
    <router-outlet></router-outlet>
  </div>
</div>


