<!-- <section class="login-sec">
<div class="row">
  <div class="col-12 col-lg-6 col-xl-6 login-left">
    <div class="logo"><img src="assets/img/login.png" width="300" alt="SprintExcode"></div>
    <div class="d-flex justify-content-center flex-column">
      <div class="login-text">
      <div class="img-wrap z-index-1 position-relative py-4"><img src="assets/img/login.png" alt="SprintExcode"
                                                                  class="img-fluid"></div>
    </div>
  </div>
  <div class="col-12 col-lg-6 col-xl-6 align-items-center d-flex">
    <router-outlet></router-outlet>
  </div>
</div> -->
<section class="login-wrapper">
  <div class="login-bg">
    <div class="overlay"></div>

    <div class="content">
      <!-- LEFT TEXT -->
      <div class="left-content">
        <h1>
          Welcome to the<br />
          <span>Crowd Management System</span>
        </h1>
      </div>

   
      <div class="right-content">
            <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>



