<ng-template #content let-modal>
    <div class="modal-otp col-12 p-3">
        <button type="button" class="close close-button" (click)="closeModalIfOpen()">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="">
            <h2><b>Second Level Timer activated</b></h2>
            <div class="clock-style">
                <span>Time Remain -</span>
                <span class="time-in-mins">{{ secondTimerLeft }}</span>
            </div>

            <div style='display: flex;'>
                <button (click)='_continue()'>Continue</button>
                <button (click)='_logout()'>Logout</button>
            </div>
        </div>
    </div>
</ng-template>