@use "../config/veriables" as *;
@use "../config/mixins" as *;
@use "../config/extends" as *;

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: $font-primary;
    line-height: 1.5;
    font-weight: $medium;
    font-size: 14px;
    overflow-x: hidden;
    color: $black;
    background:#F5F7FA;
    @include breakpoint('desktop', min) {
        font-size: 16px;
    }
    @include breakpoint('desktop-wide', min) {
        font-size: 18px;
    }

}

h1,h2,h3,
h4,h5,h6 {
    font-family: $font-primary;
    font-weight: $bold;
    margin-bottom: 0;
}
h1{
    font-size:40px;
        @include breakpoint('desktop-wide', min) {
        font-size: 52px;
    }

    @include breakpoint('desktop-small', max) {
        font-size: 32px;
    }
}
h2 {
    font-size: 28px;
       @include breakpoint('desktop-small', max) {
        font-size: 22px;
    }
    &.font-large{
          font-size:32px;
        @include breakpoint('desktop-wide', min) {
        font-size: 38px;
    }

    @include breakpoint('desktop-small', max) {
        font-size: 32px;
    }  
    }
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 19px;
}

h6 {
    font-size: 15px;
    font-family: $font-primary;
}

a {
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

p {
    font-size: 16px;
    @include breakpoint('desktop-wide', min) {
        font-size: 18px;
        font-weight:$normal;
    }

    
}

img {
    max-width: 100%;
    height: auto;
}


// -----------specing-----------------

.py-80 {
    padding: 40px 0px;

    @include breakpoint('desktop', min) {
        padding: 80px 0px;
    }
}


.py-100 {
    padding: 50px 0px;

    @include breakpoint('desktop', min) {
        padding: 100px 0px;
    }
}

.py-40 {
    padding: 20px 0px;

    @include breakpoint('desktop', min) {
        padding: 40px 0px;
    }
}
.pt-100{
       padding-top: 50px;

    @include breakpoint('desktop', min) {
        padding-top: 100px;
    }
}

// ----------------Global Color------------

.gap {
    &1 {
        gap: 4px;
    }

    &2 {
        gap: 8px;
    }

    &3 {
        gap: 12px;
    }

    &4 {
        gap: 16px;
    }
}

.know-more {
    text-align: center;
    margin-top: 30px;
    font-weight: $semibold;

    a {
        text-decoration: none;
    }
}

.hr {
    width: 100%;
    height: 1px;
    background: #E0E0E0;
}

.blur-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    backdrop-filter: blur(3px);
    background: rgba(0,0,0,0.2);
    display: none;
}

.login-open {
    .blur-bg {
        display: block;
    }
}

.text-primary {
    color:$dark-blue!important;
}
.text-grey{
    color: $text-grey!important;
}


.custooltip-wrap {

    .custooltip {
        display: none;
        text-align: center;
        white-space: nowrap;
        position: absolute;
        bottom: 150%;
        left: 50%;
        border-radius: 5px;
        padding: 8px;
        transform: translateX(-50%);
        background-color: $white;
        box-shadow: 0 0 5px 1px rgba($black, 0.1);
        z-index: 9999;
        box-shadow: 0px 1.33px 3.33px 0px rgba($black, 0.102);

    }

    &:hover {
        .custooltip {
            display: block;
        }
    }
}



