.custom-dropdown{
    svg{
        position:absolute;
        top: 9px;
    left: 10px;
    }
}
#google_translate_element {
  display: block !important;
  min-width: 100px;
}

.right-alert{
    width: 320px;
    height: 330px;
    position: absolute;
    right: -81px;
    top: 45px;
    overflow-y: scroll;
    z-index: 9;
     scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
      background: #fff;
   
}