@use "../config/veriables" as *;
@use "../config/mixins" as *;
@use "../config/extends" as *;


.owl-carousel {
    .owl-nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    
        button {
            &.owl-prev,
        &.owl-next {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            font-size: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color:$gray3 ;
            color: $white;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: auto;
            cursor: pointer;
    
           
    
            span {
                margin-top: -5px;
            }
        }

        &.owl-prev {
            left: -15px;
        }

        &.owl-next {
            right: -15px;
        }
        }
        
    }
}
    .owl-carousel .owl-stage {
      display: flex;
      transition-timing-function: linear !important;
    }