.div-wrap {
  background-color: #fff;
  max-width: 80vw;
  max-height: 85vh;
  overflow: auto;
  border-radius: 17px;
  .closeBtnBox {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
      background-color: #a5aaa8;
      font-size: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
    }
  }
  div img {
    position: relative;
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 100%;
    object-fit: content;
  }
}

