<div class="certificate-container">
 <main class="certificate-content p-3">
        <div class="certificate-status">This escrow is active</div>
          <div class="d-flex justify-content-end mb-2" *ngIf="certificateUrl">
            <button class="btn btn-primary" (click)="this._FileUploadService.HandleFileOpen(escrowId,certificateUrl!, 'certificate')">
                <i class="fa fa-download me-2"></i>Download Certificate
            </button>
        </div>
        <h2 class="certificate-title">Escrow Certificate</h2>
        <p class="certificate-subtitle">
            This Escrow Certificate certifies that the specified funds/assets are being securely held in escrow. The
            release
            shall occur only upon fulfillment of the agreed-upon conditions by all parties
        </p>

        <div class="certificate-preview">
            <ng-container *ngIf="certificateUrl && showViewer; else noCert">
                <pdf-viewer *ngIf="isPdfFile" [src]="certificateUrl" [render-text]="true" [show-all]="true"
                    [original-size]="false" style="width: 100%; height: 800px;">
                </pdf-viewer>

                <img *ngIf="!isPdfFile" [src]="certificateUrl" alt="Certificate" style="max-width: 100%;" />
            </ng-container>

            <ng-template #noCert>
                <p>No certificate available.</p>
            </ng-template>

        </div>
    </main>
</div>