@use "../config/veriables" as *;
@use "../config/mixins" as *;
@use "../config/extends" as *;

.sidebar {
  max-width: 297px;
  background-color: $dark-blue;
  .ps-height {
    height: calc(80vh - 45px);
  }
  .nav-link {
    color: $white;
    padding: 14px 0 14px 40px;
    span {
      svg {
        fill: $white;
      }
    }
    &.active {
      background: #052139;
      color: $red;
      border-left:5px solid $red;
      span {
        svg {
          fill: $red;
        }
      }
    }
  }

  @media (min-width: 992px) {
    &.offcanvas-lg {
      position: fixed;
      left: 0;
      transform: none !important;
      visibility: visible !important;
      z-index: 1045;
      background-color: $dark-blue !important;
    }
  }
}

// body {
//   padding-left: 0;
// }

// @media (min-width: 992px) {
//   body {
//     padding-left: 250px; /* Adjust according to sidebar width */
//   }
// }

.subMenu {
  z-index: 9;
  position: fixed;
  left: 290px;
  min-width: 238px;
  width: auto;
  margin-top: -50px;
  border-radius: 10px !important;
  box-shadow: 0px 0px 20px 0px rgba(51, 51, 51, 0.1882352941);
  background-color: white;
  padding: 10px 0;
  border: 1px solid #f4f4f4;

  @media (max-width: 992px) {
    left: 0;
    margin-top: 5px;
    width: 97%;
    margin-bottom: 10px;
    position: static;
  }
  ul {
    li {
      .nav-link {
        color: $dark-blue;
        padding: 9px 0 9px 0;
           span {
      svg {
        stroke:$dark-blue;
      }
    }
            &.active{
       background:$red;
           border-radius: 10px;
    }
      }
    }
  }
}
