<nav class="navbar navbar-dark bg-dark d-lg-none">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#responsiveSidebar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <img src="assets/img/logo-red.png" alt="Logo">
  </div>
</nav>
  <li class="nav-item theme-logo">
      <a (click)="onSideBar(dashboardStatic, 0)" class="d-flex align-items-center">
        <span><img src="assets/assets/img/logo.png" /></span>
      </a>
    </li>
<div class="sidebar offcanvas offcanvas-start offcanvas-lg" tabindex="-1" id="responsiveSidebar">
  <div class="text-center py-4 d-none d-lg-block">
    <img src="assets/img/logo-red.png" alt="Logo">
  </div>
  <div class="offcanvas-header d-lg-none">
    <h5 class="offcanvas-title">
      <img src="assets/img/logo-red.png" alt="Logo">
    </h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close">

    </button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column w-100">
      <li class="nav-item" *ngFor="let obj of sidebarList; let i = index">
        <a (click)="onSideBar(obj, i)" data-toggle="collapse" [attr.aria-expanded]="obj.name === selectedItem"
          *ngIf="_permissionService?.hasModule(obj?.module)" class="dropdown-toggle"
          [ngClass]="{ active: obj?.name === selectedItem }" class="nav-link">
    
            <span class="pe-3"> <img [src]="obj?.icon"></span>
             
              {{ obj?.name }}
          
            <i *ngIf="obj?.subMenu && cachedIndex != obj?.name" class="fas fa-chevron-down"></i>
            <i *ngIf="obj?.subMenu && cachedIndex == obj?.name" class="fas fa-chevron-right "></i>

        



        </a>
        <div class="subMenu" *ngIf="_payoutSideBar && cachedIndex == obj?.name">
          <ul>
            <li *ngFor="let item of _payoutSideBar;let i=index">
              <a class="nav-link" (click)="ResetSubMenu(item)" [routerLink]="[item.routePath]"
                [routerLinkActive]="'active'" href="javascript:void(0);"
                (isActiveChange)="$event ?_title = item.value:null">
                <img [src]="item?.icon">{{item.value}}
              </a>
            </li>

          </ul>
        </div>
      </li>
      <!-- <ng-container *ngFor="let item of m_sideBarLinks">
        <li class="nav-item">
          <a [routerLink]="item.href ?? item.routerLink" class="nav-link" [ngClass]="{'active': item.active}">
            <span class="pe-3">
              <img [src]="item.icon" alt="{{item.name}}">
            </span>
            {{item.name}}
          </a>
        </li>
      </ng-container> -->
    </ul>
  </div>
</div>