        <nav class="navbar navbar-dark bg-dark d-lg-none">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#responsiveSidebar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
<!-- Offcanvas -->
<div class="sidebar offcanvas offcanvas-start offcanvas-lg" tabindex="-1" id="responsiveSidebar">
  <div class="text-center py-4 d-none d-lg-block">
    <img src="assets/img/logo-red.png" alt="Logo">
  </div>
  <div class="offcanvas-header d-lg-none">
    <h5 class="offcanvas-title">
      <img src="assets/img/logo-red.png" alt="Logo">
    </h5>
    <button  type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column w-100">
      <ng-container *ngFor="let item of m_sideBarLinks">
        <li class="nav-item">
          <a [routerLink]="item.href ?? item.routerLink" class="nav-link" [ngClass]="{'active': item.active}">
            <span class="pe-3">
              <img [src]="item.icon" alt="{{item.name}}">
            </span>
            {{item.name}}
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
