.selected-radio .form-check-input {
  border-color: #003057;
  background-color: #003057;
}

.other-doc-section {
  margin-top: 1rem;

  label {
    color: #4b5563;
    margin-bottom: 0.25rem;
    display: block;
  }

  .doc-box {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: #f3f4f6;
    border-radius: 0.375rem;
    gap: 0.5rem;

    .icon {
      color: #dc2626;
    }

    .filename {
      color: #2563eb;
      font-size: 0.875rem;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
