<div class="login-right w-75 m-auto">
  <div class="form-title text-center">
    <h2 class="mb-0">{{type == 'reset' ? 'Reset' : 'Create'}} New Password</h2>
  </div>
  <div class="login-form">
    <form [formGroup]="changePasswordForm">
      <div class="form-row mt-4">
        <div class="form-group col-lg-12 position-relative">
          <div class="input-wrapper w-100">
            <div class="password-wrap">
              <input type="password" id="user" tabindex="0" #ss maxlength="30" formControlName="new_password"
                name="new_password" class="form-control" autocomplete="new-password" placeholder="" #passwordInput appShowHidePassword />
              <label class="form-control-placeholder" for="user">Enter Password</label>
            </div>
            <div *ngIf="(f['new_password'].touched || submitted)" class="mt-3">
              <span class="text-danger" *ngIf="f['new_password'].errors?.['required']">New Password is
                Required</span>

            </div>
            <div *ngIf="showErrorBox " class="mt-3 showValBoxList">
              <span class="col"
                [ngClass]="f['new_password'].hasError('required') || f['new_password'].hasError('minlength') ? 'text-danger' : 'text-success'">
                <i [ngClass]="f['new_password'].hasError('required') ||
                    f['new_password'].hasError('minlength') ? 'far fa-times-circle' :
                    'far fa-check-circle'"></i>
                Must be at least 8 characters!
              </span>
              <span class="col"
                [ngClass]="f['new_password'].hasError('required') || f['new_password'].hasError('hasNumber') ? 'text-danger' : 'text-success'">
                <i [ngClass]="f['new_password'].hasError('required') ||
                    f['new_password'].hasError('hasNumber') ? 'far fa-times-circle' :
                    'far fa-check-circle'"></i>
                Must contain at least 1 number!
              </span>
              <span class="col"
                [ngClass]="f['new_password'].hasError('required') || f['new_password'].hasError('hasCapitalCase') ? 'text-danger' : 'text-success'">
                <i [ngClass]="f['new_password'].hasError('required') ||
                    f['new_password'].hasError('hasCapitalCase') ? 'far fa-times-circle' :
                    'far fa-check-circle'"></i>
                Must contain at least 1 in Capital Case!
              </span>
              <span class="col"
                [ngClass]="f['new_password'].hasError('required') || f['new_password'].hasError('hasSmallCase') ? 'text-danger' : 'text-success'">
                <i [ngClass]="f['new_password'].hasError('required') ||
                    f['new_password'].hasError('hasSmallCase') ? 'far fa-times-circle' :
                    'far fa-check-circle'"></i>
                Must contain at least 1 Letter in Small Case!
              </span>
              <span class="col"
                [ngClass]="f['new_password'].hasError('required') || f['new_password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                <i [ngClass]="f['new_password'].hasError('required') ||
                    f['new_password'].hasError('hasSpecialCharacters') ? 'far fa-times-circle' :
                    'far fa-check-circle'"></i>
                Must contain at least 1 Special Character!
              </span>
              <span class="col"
                [ngClass]="f['new_password'].hasError('required') || f['new_password'].hasError('hasValidLength') ? 'text-danger' : 'text-success'">
                <i [ngClass]="f['new_password'].hasError('required') ||
                  f['new_password'].hasError('hasValidLength') ? 'far fa-times-circle' :
                  'far fa-check-circle'"></i>
                Must be between 8 to 16 characters!
              </span>
              <span class="col"
                [ngClass]="f['new_password'].hasError('required') || reusedPassword ? 'text-danger' : 'text-success'">
                <i [ngClass]="f['new_password'].hasError('required') ||
         reusedPassword ? 'far fa-times-circle' :
            'far fa-check-circle'"></i>
                New password cannot be as same as your previous 3 passwords!
              </span>
              <span class="col"
                [ngClass]="f['new_password'].hasError('required') || cannotName ? 'text-danger' : 'text-success'">
                <i [ngClass]="f['new_password'].hasError('required') ||
            cannotName ? 'far fa-times-circle' :
            'far fa-check-circle'"></i>
                Should not be part of First, Middle or Last Name!
              </span>

              <span class="col"
                [ngClass]="f['new_password'].hasError('required') || cannotUsername ? 'text-danger' : 'text-success'">
                <i [ngClass]="f['new_password'].hasError('required') ||
                cannotUsername ? 'far fa-times-circle' :
          'far fa-check-circle'"></i>
                Must not be same as User ID!
              </span>

            </div>

            <div *ngIf="(f['new_password']?.touched || submitted) && showErrorBox" class="password-strength">
              <span *ngIf="passwordStrength.weak" class="weak">
                Weak Password
              </span>
              <span *ngIf="passwordStrength.medium && !passwordStrength.strong" class="medium">
                Medium Password
              </span>
              <span *ngIf="passwordStrength.strong" class="strong">
                Strong Password
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row mt-4">
        <div class="form-group col-lg-12 position-relative">
          <div class="input-wrapper w-100">
            <div class="password-wrap">
              <input type="password" id="pass" maxlength="30" formControlName="new_password_confirmation" name="cpassword"
                class="form-control exemPass" autocomplete="off" appShowHidePassword/>
              <label class="form-control-placeholder" for="pass">Enter Confirm Password</label>
              <!-- appShowHidePassword -->
            </div>

            <div *ngIf="((f['new_password_confirmation'].touched &&
                  f['new_password_confirmation'].errors?.['confirmedValidator']) || submitted)">
              <span class="text-danger" *ngIf="f['new_password_confirmation'].errors?.['required']">
                Confirm Password is Required
              </span>
              <div class="text-danger" *ngIf="f['new_password_confirmation'].errors?.['confirmedValidator']">
                Password and confirm Password does not match
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-container>
        <div class="mt-3">
          <button class="btn btn-primary w-100" (click)="ReSetPassword()">
            {{type == 'reset' ? 'Reset' : 'Create'}} Password
          </button>
        </div>

        <div class="mt-3">
          <button type="button" class="btn btn-bordered w-100" (click)="clearPassword()">
            Cancel
          </button>
        </div>
      </ng-container>
    </form>
  </div>

</div>
     <ng-template #content let-modal>
          <div class="otp-modal p-5 text-center">
            <button type="button" class="btn-close position-absolute end-0 top-0 m-3" aria-label="Close"
              (click)="handleCloseModal()"></button>
            <app-custom-dynamic-otp [otpBox]="6" [subtitle]="maskMobileNo" [otpBoxNormal]="true"
              [submitBtnName]="'Verify & Proceed'" (sendOtp)="VerifyOtp($event)" (resendOtp)="SendOTP(true)"
              [submitBtnClass]="'btn btn-primary'"></app-custom-dynamic-otp>
          </div>
        </ng-template>