<div class="layout-px-spacing">
    <div class="row layout-top-spacing">

        <div class="col-12 layout-spacing">
            <!-- || !permissionService.hasPermission('permission-create') -->
            <div [ngClass]="canSet || !permissionService.hasPermission('permissions-create') ? 'hidden' : ''"
                class="d-flex gap-3">
                <button class="btn btn-yellow" (click)="isOpen = !isOpen" type="button" cdkOverlayOrigin
                    #permission="cdkOverlayOrigin">Add Permission</button>
                <button class="btn btn-yellow" (click)="isCustom = !isCustom" type="button" cdkOverlayOrigin
                    #custom="cdkOverlayOrigin">Custom</button>
                <!-- *ngIf="canDelete" -->
                <button class="btn btn-yellow" (click)="deleteMode = !deleteMode" type="button" cdkOverlayOrigin>Delete
                    Permission</button>
            </div>
            <div class="col-12">
                <div class="permission-allow m-2">
                    <div class="page-title py-2"> Set Permissions </div>
                    <div class="row">
                        <div class="permitallow-box d-flex p-2" *ngFor="let permission of permissions">
                            <h5>{{permission.module}}</h5>
                            <div class="d-flex justify-content-between" *ngFor="let perm of permission?.permissions">
                                <label (click)="handleDelete(perm)">{{perm.name}}</label>
                                <input *ngIf="canSet" [disabled]="perm.Off" [checked]="perm.enabled || perm.Off"
                                    type="checkbox" class="" name="chk1"
                                    (change)="permissionEnable(perm, permission, $event)">

                            </div>
                        </div>


                    </div>

                    <div class="d-flex mb-3">

                    </div>
                </div>
            </div>




            <!--        <div style="border: 5px black !important;margin-left: 4%;">-->
            <!--            <table class="table-responsive table-bordered">-->
            <!--                <thead>-->
            <!--                    <tr>-->
            <!--                        <th>Module</th>-->
            <!--                        <th>Permission</th>-->
            <!--                    </tr>-->
            <!--                </thead>-->
            <!--                <tbody>-->
            <!--                    <tr *ngFor="let permission of permissions; let i = index">-->
            <!--                        <td *ngIf="canSet"-->
            <!--                            [ngClass]="permission.Off ? 'menu-off' : permission.enabled ? 'menu-enable' : 'menu-disable'"-->
            <!--                            (click)="moduleEnable(permission)">-->
            <!--                            {{permission.module}}-->
            <!--                        </td>-->

            <!--                        <td *ngIf="!canSet">{{permission.module}}</td>-->
            <!--                        <td>-->
            <!--                            <span class="hstack gap-8" style="padding: 10px"-->
            <!--                                *ngFor="let per of permission?.permissions">-->
            <!--                                <span *ngIf="canSet" [ngClass]="per.Off ? 'off' : per.enabled ? 'enabled' : 'disabled'"-->
            <!--                                    (click)="permissionEnable(per, permission)" class="bg-light border" placement="left"-->
            <!--                                    [tooltipHtml]="per.Off ? 'Permission is assigned to role and hence cannot be disabled' : per.enabled ? 'Permission is enabled' : 'Permission is disabled'">{{per.nameDisplay}}</span>-->
            <!--                                <span class="bg-light border" (click)="handleDelete(per)"-->
            <!--                                    *ngIf="!canSet">{{per.name}}</span>-->
            <!--                            </span>-->
            <!--                        </td>-->
            <!--                    </tr>-->
            <!--                </tbody>-->
            <!--            </table>-->
            <!--        </div>-->


            <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="permission" [cdkConnectedOverlayOpen]="isOpen"
                [cdkConnectedOverlayHasBackdrop]="true" (backdropClick)="isOpen = false">
                <div style="background: white;padding: 80px;">
                    <form style="margin-top: -30%;">
                        <div class="form-group">
                            <label class="justify-content-center d-flex">Module</label>
                            <input type="text" class="form-control" [(ngModel)]="permissionToAdd"
                                [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="justify-content-center d-flex">
                            <button class="btn btn-primary" (click)="AddPermission()">Add Permission</button>
                        </div>
                    </form>
                </div>
            </ng-template>

            <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="custom" [cdkConnectedOverlayOpen]="isCustom"
                [cdkConnectedOverlayHasBackdrop]="true" (backdropClick)="isCustom = false">
                <div style="background: white; padding: 80px;">
                    <form style="margin-top: -30%;">
                        <div class="form-group">
                            <select class="form-control" [(ngModel)]="customPermission.module"
                                [ngModelOptions]="{standalone: true}">
                                <option value="" disabled>Select Module</option>
                                <option *ngFor="let module of permissions" [value]="module.module">{{module.module}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" [(ngModel)]="customPermission.name"
                                [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="justify-content-center d-flex">
                            <button class="btn btn-primary" (click)="AddCustomPermission()">Add Permission</button>
                        </div>
                    </form>
                </div>
            </ng-template>
        </div>
    </div>
</div>