@use "../config/veriables" as *;
@use "../config/mixins" as *;
@use "../config/extends" as *;


.card-main{
    border: 1px solid #eee8e8;
    border-radius:15px;
    background:$white;
    .user-details{
        color:$dark-blue;
        font-weight:400;
    }
}
.border-bottom{
    border:1px solid #F7F7F7;
}
ul{
    &.team{
        li{
            background: #EBEEF1;
            border-radius:50px;
            padding:6px 13px;
        }
    }
}
.doc-preview {
background: #E3EBFF;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
     max-width: fit-content;
    overflow: hidden;
    padding: 15px;
}
.tick{
        width: 30px;
    height: 30px;
    border: 1px solid #198754;
    border-radius: 50px;
    text-align: center;
}

.upload-doc{

  .custom-file-upload {
  display:flex;
  padding: 10px 20px;
  cursor: pointer;
  background-color: $white;
  border-radius: 5px;
  border: 1px solid $gray4;
  width: 100%;
    align-items: center;
    gap: 9px;
}
.custom-file-upload:hover {
  background-color: $gray4;
}
input[type="file"] {
position: absolute;
    opacity: 0;
    z-index: 9;
    width:80%;
    height: 100%;
    top:0
}
        
.view-img{
position:absolute;
top:6px;
right:6px;
p{
  a{
      font-size:12px;
  @include breakpoint ('desktop-wide',min){
      font-size:15px;
  }
  
  }
}
}
}

.escrow-tabs2{
    .nav-link{
        color:$dark-blue;
            font-weight: 400;
        &.active{
            font-weight:700;
            background-color: transparent;
              color:$dark-blue;
              border-bottom: 2px solid $dark-blue; 
              border-radius:0;
        }
    }
}