@use "../config/veriables" as *;
@use "../config/mixins" as *;
@use "../config/extends" as *;


.singleInput {
  border-color: #1a1a1a80;

  &::placeholder {
    color: #1a1a1a;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: #1a1a1a;
    opacity: 1;
  }

  &::-ms-input-placeholder {
    color: #1a1a1a;
    opacity: 1;
  }
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

// #verifyOtpBtn {
//   background: #005286;
// }

#otherBtn {
  background: #3d9c3c;
}

.p-title {
  text-align: center;
  letter-spacing: 0px;
  color: black;
  opacity: 1;
  font: message-box;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;

  @media (max-width:990px) {
    font-size: 14px;
  }
}

.p-subtitle {
  font-size: 16px;
}


.verification-code-inputs input[type="text"] {
  width: 60px;
  height: 60px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #b0b0b0;
  margin-bottom: 10px;
  background: #fff;
  font-size: 20px;
  font-weight:400;
margin-right: 10px;
  @media (max-width: 992px) {
    width: 50px;
    max-height: 50px;
  }
}

.verify-otp-btn {
  color: #fff;
}
.expire{
  a{
    text-decoration:none;
    color:$dark-blue;
    font-weight:700;
  }
}

.modal-content{
   border-radius:15px;
   .otp-modal {
    border-radius:15px;
}
}
