@use "../config/veriables" as *;
@use "../config/mixins" as *;
@use "../config/extends" as *;

.select-srvice {
  border: 1px solid $gray4;
  border-radius: 10px;
  background: $white;
}
.escrow-tabs {
  background: $white;
  border: 1px solid $gray4;
  border-radius: 10px;
  @include breakpoint("desktop-small", max) {
    flex-direction: column;
  }
  .nav-pills {
    .nav-link {
      color: $text-grey;
      width: max-content;
      @include breakpoint("phablet", max) {
        width: 100%;
      }
      &.active {
        background-color: $gray5;
        color: $dark-blue;
        border-radius: 40px;
      }
    }
  }
}

.agreement {
  label {
    color: $dark-blue;
    font-weight: 700;
    font-size: 18px;
    &.form-check-label {
      font-weight: 400;
    }
  }
  p {
    color:$dark-blue;
    margin-bottom:0;
  }
  .upload-doc {
    border: 1px solid #ececec;
    border-radius: 10px;
    position: relative;
    // &::after{
    // content: "";
    // width: 1px;
    // height: 80px;
    // position: absolute;
    // left: 20rem;
    // background: #ececec;
    // }
  }
}

.upload-doc {
  .custom-file-upload {
    display: flex;
    padding: 10px 20px;
    cursor: pointer;
    background-color: $white;
    border-radius: 5px;
    border: 1px solid $gray4;
    width: 100%;
    align-items: center;
    gap: 9px;
  }
  .custom-file-upload:hover {
    background-color: $gray4;
  }
  input[type="file"] {
    position: absolute;
    opacity: 0;
    z-index: 9;
    width: 80%;
    height: 100%;
    top: 0;
  }

  .view-img {
    position: absolute;
    top: 6px;
    right: 6px;
    p {
      a {
        font-size: 12px;
        @include breakpoint("desktop-wide", min) {
          font-size: 15px;
        }
      }
    }
  }
}
.add-role-btn {
  position: absolute;
  right: 25px;
  top: -10px;
}
