@use "../config/veriables" as *;
@use "../config/mixins" as *;
@use "../config/extends" as *;


.overview-container {
  background: #f8f9fa;
  padding: 16px;
}


.table-light{
th {
  background: #f1f1f1!important;
  font-weight: 500;
  border-bottom: 1px solid #e0e0e0;
  font-size:14px;
}

}

.pagination {
  gap: 4px;
}

.pagination .page-item .page-link {
  border: none;
  background: transparent;
  color: #666;
  font-size: 13px;
  min-width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}


.pagination .page-item:not(.active):not(.disabled) .page-link:hover {
  background: #f1f1f1;
}


.pagination .page-item.active .page-link {
  color: #0b5f5b;
  font-weight: 600;
  position: relative;
}

.pagination .page-item.active .page-link::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 16px;
  height: 2px;
  background: #0b5f5b;
  border-radius: 2px;
}

.pagination .page-item.disabled .page-link {
  color: #bbb;
  pointer-events: none;
}

.pagination .page-item.disabled span.page-link {
  cursor: default;
}
