@use "../config/veriables" as *;
@use "../config/mixins" as *;
@use "../config/extends" as *;

.certificate-container {
  display: flex;
  gap: 2rem;
  background-color:$white-light;
  padding: 1.5rem;
  border-radius: 12px;
  min-height: 600px;
  .certificate-sidebar {
  width: 250px;
border-right: 1px solid $gray3;
  padding: 1rem;

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 0.75rem 1rem;
      cursor: pointer;
      border-radius: 8px;
      transition: background 0.2s;

      &:hover {
        background-color: #f0f4fa;
      }

      &.active {
        background-color: #EBEEF1;
        font-weight: 600;
        color: #1d3557;
      }
    }
  }
}

}


.certificate-content {
  flex: 1;
  background: #fff;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

  .certificate-status {
    // background-color: #dcfce7;
    // color: #15803d;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    // display: inline-block;
    // margin-bottom: 1rem;
    text-align: center;
  }

  .certificate-title {
    background-color: #dcfce7;
    color: #15803d;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    margin-bottom: 0.75rem;
    border-radius: 6px;
    text-align: center;
  }

  .certificate-subtitle {
    color: #555;
    font-size: 0.95rem;
    margin-bottom: 1.5rem;
  }

  .certificate-preview {
    pdf-viewer {
      width: 100%;
      height: 600px;
      border: 1px solid #ddd;
    }

    img {
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 12px;
      max-height: 500px;
    }
  }
}