<div class="login-right w-100 m-auto">
  <div class="auth-page-content py-3 px-4">
    <h2 class="font-large text-center text-primary">Password Reset</h2>
    <p class="text-center text-grey py-2">
      Enter your User Id to reset your password.<br>
      You will receive a link to create a new password via email.
    </p>
  </div>

  <form class="login-form">
    <div class="form-group position-relative">
      <div class="input-group-prepend"><img src="assets/img/email.png" class="pe-1"> </div>
      <input type="text" id="name" class="form-control" required name="userid" [(ngModel)]="userid">
      <label class="form-control-placeholder" for="name">User Id</label>
    </div>

    <button type="submit" class="btn btn-primary w-100" (click)="SubmitForm()"> Submit </button>
  </form>
</div>
