<div class="customTblFilterHeaderBox">

    <div *ngIf="tableOptions && tableOptions?.options && tableOptions.options?.pagination">
        <div class="viewingBox">
            <span>Viewing {{tableOptions.options?.fromRec}}-{{tableOptions.options?.toRec}} of
                {{tableOptions.options?.pagination?.totalItems}}</span>
            <div>
                <span [ngClass]="{'pagerMute':tableOptions.options?.pagination?.currentPage == 1}"
                      (click)="tableOptions.options?.pagination?.currentPage! > 1? _DynamicTableService.dtUpdateByPagination('back',tableOptions.options) : false">
                    <i class="fas fa-caret-left"></i>
                </span>
                <span [ngClass]="{'pagerMute':tableOptions.options?.pagination?.totalPages == tableOptions.options?.pagination?.currentPage}"
                      (click)="tableOptions.options?.pagination?.totalPages! > tableOptions.options?.pagination?.currentPage! ? _DynamicTableService.dtUpdateByPagination('next',tableOptions.options): false">
                    <i class="fas fa-caret-right"></i>
                </span>
            </div>
        </div>

        <div class="recordBox">
            <span>Records</span>
            <div class="">
                <select class="" (change)="_DynamicTableService.dtUpdateByPageLength($event,tableOptions.options!)">
                    <option *ngFor="let item of tableOptions.options?.pagger" [selected]="tableOptions.options?.pagination?.itemsPerPage == item"
                            [value]="item">
                        {{item}}</option>
                </select>
            </div>
        </div>

         <a href="javascript:void(0)" class="syncBtn" *ngIf="tableOptions.options?.reloadTable" [class]="{'rotateIt': tableOptions.options?.rotateIt}" (click)="tableOptions.options?.dtUpdateFnCallBack!()" rel="noopener noreferrer">
            <svg xmlns="http://www.w3.org/2000/svg" width="18.929" height="21" viewBox="0 0 18.929 21">
                <g id="reload" transform="translate(-93.941 -33.603)">
                    <path id="Path_274129" data-name="Path 274129" d="M146.968,47.117a.837.837,0,0,0-1.071.5,8.068,8.068,0,1,1-1.951-8.506h-3.727a.837.837,0,0,0,0,1.674l5.5-.014a.837.837,0,0,0,.834-.834l.014-5.5h0a.836.836,0,1,0-1.671,0v3.242h0a9.765,9.765,0,1,0,2.575,10.507.837.837,0,0,0-.5-1.069Z" transform="translate(-34.649)" fill="#fff"/>
                </g>
            </svg>
        </a>

        <div class=" exportBox" *ngIf="tableOptions.list?.length != 0  && tableOptions.options?.downloadReports">
            <button [dropdownTriggerFor]="dropdown" class="btn btn-danger"><i
                    class="fas fa-file-download me-1 "></i>Export</button>

            <app-cdk-dropdown #dropdown>
                <div class="bg-white p-1 shadow">
                    <div class="dropdown-item" *ngFor="let file of downloadFileType" (click)="download(file.value)">{{file.name}}</div>
                </div>
            </app-cdk-dropdown>

        </div>

    </div>

</div>
