<form [formGroup]="agreementForm" class="agreement">
    <div class="mb-3">
        <label>Agreement Type:</label><br />

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="agreementType" value="triparty"
                id="triparty" />
            <label class="form-check-label" for="triparty">Triparty Agreement</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="agreementType" value="biparty" id="biparty" />
            <label class="form-check-label" for="biparty">Biparty Agreement</label>
        </div>
    </div>
    <div class="mb-3" *ngIf="agreementForm.get('agreementType')?.value">
        <label for="agreementDoc">Upload {{ agreementForm.get('agreementType')?.value | titlecase }} Document</label>
        <p>An Escrow Agreement between the software developer or beneficiary and the escrow agent.</p>
        <div class="d-flex align-items-center gap-2 upload-doc p-3" role="button" (click)="openModal(content)">
           <img src="assets/img/upload.png">
            <span class="text-primary">Upload document<p class="mb-0">File size must be less than 5mb</p></span>
        </div>
    </div>

    <div class="mb-3">
        <label>Upload Additional Document</label>
        <p>Other Agreement related documents like SLA, NDA and other documents can be uploaded here.</p>

        <!-- MULTIPLE FILE INPUT -->
         <div>
        <input type="file" multiple (change)="onMultiFileSelect($event)" accept=".pdf,.png,.jpg,.jpeg,.doc,.docx,.xlsx"
            class="form-control upload-doc p-3" />
            </div>

        <!-- Display uploaded docs -->
        <div *ngFor="let docCtrl of additionalDocs.controls; let i = index" class="border p-3 mb-2 rounded">
            <label>Document {{ i + 1 }}</label>
            <div *ngIf="docCtrl.get('url')?.value" class="text-success">
                Uploaded ✔️ –
                <a [href]="docCtrl.get('url')?.value" target="_blank">View</a>
            </div>
            <button type="button" class="btn btn-danger btn-sm mt-2" (click)="removeAdditionalDoc(i)"
                *ngIf="additionalDocs.length > 1">
                Remove
            </button>
        </div>
    </div>

    <button type="submit" (click)="onSubmit()" class="btn btn-primary">Next</button>
</form>
<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Upload Form</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="agreementDocumentForm">
            <div class="mb-3">
                <label>Signing Date</label>
                <app-custom-datepicker formControlName="signing_date" [datepickerType]="'bsDatepicker'"
                    [class]="'form-control'" [dateFormate]="'yyyy/MM/dd'" [placeholder]="'yyyy/MM/dd'"
                    [bsCustConfg]="bsCustConfg" [minDate]="endMinScheduleDate"></app-custom-datepicker>

                <span class="highlight"></span>
                <app-show-errors [ctrl]="agreementDocumentForm.get('signing_date')"
                    [requiredMesg]="'Signing date is Required'">
                </app-show-errors>
            </div>
            <div class="mb-3">
                <label>Effective Date</label>
                <app-custom-datepicker formControlName="effective_date" [datepickerType]="'bsDatepicker'"
                    [class]="'form-control'" [dateFormate]="'yyyy/MM/dd'" [placeholder]="'yyyy/MM/dd'"
                    [bsCustConfg]="bsCustConfg" [minDate]="endMinScheduleDate"></app-custom-datepicker>

                <span class="highlight"></span>
                <app-show-errors [ctrl]="agreementDocumentForm.get('effective_date')"
                    [requiredMesg]="'Effective date is Required'">
                </app-show-errors>
            </div>
            <div class="mb-3">
                <label>Expiry Date</label>
                <app-custom-datepicker formControlName="expiry_date" [datepickerType]="'bsDatepicker'"
                    [class]="'form-control'" [dateFormate]="'yyyy/MM/dd'" [placeholder]="'yyyy/MM/dd'"
                    [bsCustConfg]="bsCustConfg" [minDate]="endMinScheduleDate"></app-custom-datepicker>

                <span class="highlight"></span>
                <app-show-errors [ctrl]="agreementDocumentForm.get('expiry_date')"
                    [requiredMesg]="'Expiry date is Required'">
                </app-show-errors>
            </div>
            <div class="mb-3">
                <label>Upload Document</label>
                <input #fileInput type="file" 
                    class="form-control" (change)="handleModalFile($event, fileInput)"
                    [class.is-invalid]="agreementDocumentForm.get('document_url')?.invalid && agreementDocumentForm.get('document_url')?.touched" />
                      <app-show-errors [ctrl]="agreementDocumentForm.get('document_url')"
                    [requiredMesg]="'Document is Required'">
                </app-show-errors>

                <p class="mb-1" *ngIf="agreementDocumentForm.get('document_url')?.value">
                    <a [href]="agreementDocumentForm.get('document_url')?.value" target="_blank" class="text-decoration-none">
                        👁️ View Uploaded Image
                    </a>
                     <button type="button" class="btn btn-outline-danger btn-sm" (click)="clearModalDocument()">
                        Remove
                    </button>
                </p>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
        <button class="btn btn-primary" [disabled]="!agreementDocumentForm.valid"
            (click)="submitModal(modal)">Submit</button>
    </div>
</ng-template>