div#load_screen {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.38) 0%, rgba(255, 255, 255, 0.60) 50.35%, rgba(255, 255, 255, 0.49) 100%);
// backdrop-filter: blur(9px);
  opacity: 1;
  position: fixed;
  z-index: 999999;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

div#load_screen .loader {
  display: flex;
  justify-content: center;
  height: 85vh;
}

div#load_screen .loader-content {
  right: 0;
  align-self: center;
}

// .loader-lg {
//   width: 2.5rem;
//   height: 2.5rem;
//   border-width: 0.35em;
// }
.loader-lg {
  width: 20%;
  margin: 0 auto
}
