
$font-primary: 'Segoe ui', sans-serif;
// ------------font-weight-------------

$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$bolder: 900;

// -------------gradients-----------

// -------------color-----------

$black: #000;
$black2: #212529;
$white: #fff;
$red: #e92e40;
$gray: #f4f4f4;
$gray3: #e2eeff;
$gray4:#E6EFF5;
$text-grey:#808080;
$warning: #bd7f06;

$white-light: #fcfcfc;
$dark-blue: #062745;
$border:#343C6A;