

<!-- Modal -->
<div class="bank-modal " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0 py-1">

                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
            </div>
            <div class="modal-body">
                <h5 class="modal-title" id="exampleModalLongTitle">Inactivity detected. You will be logged out.</h5>
                <!-- <p class="text-center p-3"><img src="assets/assets/img/yes-logo.png"></p> -->
                <h3>Time Remain -</h3>
                <p>{{ secondTimerLeft }}</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-success" (click)='_continue()'>Continue</button>
                <button type="button" class="btn btn-blue2" (click)='_logout()'>Logout</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal footer -->
