.bank-modal .modal-header {
    justify-content: center;
}

.bank-modal .modal-body {
    text-align: center;
}

.bank-modal .modal-title {
    color: #101F33;
    font-size: 18px;
    font-weight: 600;
}

.bank-modal .modal-body h3 {
    color: #101F33;
    font-size: 15px;
}

.bank-modal .modal-body p {
    font-size: 13px;
}