.customTbl {
  /* / overflow: auto;/  */
  border-radius: 20px;
  // margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #dadada;
  background-color: #fff;

  @media (max-width: 990px) {
    margin-top: 1rem;
  }

  > div {
    padding: 0px;
    overflow-y: auto;
    // max-height: 100vh;
    margin-top: -2px;
  }

  .dtSearch {
    padding: 4px !important;
    width: 100%;
    /* margin: 10px 10px 0 auto !important; */
    position: relative;

    i {
      position: absolute;
      right: 10px;
      top: 12px;
    }
  }
}

.customTblFilterHeaderBox {
  position: sticky;
  top: 69px;
  padding: 20px;
  gap: 20px;
  align-items: center;
  z-index: 2;
}

/* / ------------------------TABLE TOP ACTION SECTION START-------------------------------- /  */

.customTblFilterHeaderBox {
  display: flex;
  background-color: #f9f9f9;
  flex-wrap: wrap;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

}

.customTblFilterHeaderBox > div {
  display: inline-flex;
  align-items: center;
}

/* .customTblFilterHeaderBox>div:nth-last-child(1),
.customTblFilterHeaderBox>div:nth-last-child(2) {
    margin-right: 0px;
} */
// .pagerMute{    background-color: #005287;
//   color: #fff;
//   font-size: 13px;
//   width: 20px;
//   height: 20px;
//   border-radius: 3px;
// font-size:auto!important;}
.customTblFilterHeaderBox > div:nth-last-child(1) {
  margin-left: auto;
  gap: 20px;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  flex-wrap: wrap;

  .viewingBox,
  .recordBox {
    display: inline-flex;
    gap: 10px;
    align-items: center;

    select {
      border: 1px solid #b2b2b2;
      border-radius: 20px;
      padding: 10px 15px;
    }
  }

  .viewingBox > :last-child {
    border: 1px solid #b2b2b2;
    border-radius: 20px;
    padding: 11px 15px;
    display: flex;
    gap: 10px;

    span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 18px;
      height: 18px;
      background-color: #eaeaea;
      border-radius: 3px;
      cursor: pointer;

      i {
        font-size: 18px;
        color: #000;
      }
    }
  }

  .exportBox button {
    background-color: #f28203;
    border-radius: 20px;
    box-shadow: 0px 10px 10px #ff004c33;
    font-size: 16px;
    font-weight: 600;
    border: unset;
  }
}

/* / ------------------------TABLE TOP ACTION SECTION END-------------------------------- /  */

/* / ------------------------TABLE SECTION START-------------------------------- /  */

.customTblBox {
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 5px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(#000, 0.3);
    background-color: #555;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(#000, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  table {
    width: 100%;
    margin-bottom: 10px;
    border-collapse: collapse;

    thead {
      text-align: center;

      tr {
        color: #101f33;
        background-color: #d3e4ee;
        padding: 10px;
        th {
          background-color: #d3e4ee;
          padding: 15px;
          position: sticky;
          top: 0;
          z-index: 1;
              text-align: left;
        }
      }
    }

    tbody tr {
      height: 50px;
      color: #000000;

      td {
        border-top: 1px solid #dadada;
        // text-align: center;
        padding:10px;
      }
    }
  }
}

/* / ------------------------TABLE SECTION END-------------------------------- /  */

/* / ------------------------TABLE PAGINATION SECTION START-------------------------------- /  */

.dtPagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dtPagination a {
  margin: 0 10px;
}

.pagerMute {
  opacity: 0.5;
  cursor: not-allowed !important;
}

/* / ------------------------TABLE PAGINATION SECTION END-------------------------------- /  *


/* / ------------------------TRACK TABLE DESIGN START-------------------------------- /  */

/* / ---------------TRACK TABLE DESIGN 1 START(TABLE STRIPE WITH FIRST COLUMN DOT)--------------- /  */

.customTblBox.tblStripeWithFCD table tr th:first-child,
.customTblBox.tblStripeWithFCD table tr td:first-child {
  padding-left: 40px;
}

/* .customTblBox.tblStripeWithFCD table tbody tr td:nth-child(2),
.customTblBox.tblStripeWithFCD table tbody tr td:nth-child(3) {
    font-weight: 600;
} */

.customTblBox.tblStripeWithFCD table tbody tr:nth-child(2n-2) {
  background-color: hsla(0, 30.3%, 87.1%, 0.24);
}

.customTblBox.tblStripeWithFCD table tr td:first-child {
  position: relative;
}

.customTblBox.tblStripeWithFCD table tr td:first-child::after {
  content: "";
  position: absolute;
  top: 0;
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: 0;
  margin: auto;
}

.customTblBox.tblStripeWithFCD
  table
  tbody
  tr:nth-child(2n-1)
  td:first-child::after {
  background-color: #ff6e4f;
}

.customTblBox.tblStripeWithFCD
  table
  tbody
  tr:nth-child(2n-2)
  td:first-child::after {
  background-color: #1de4e4;
}

.customTblBox.tblStripeWithFCD table tbody tr:hover {
  background-color: rgb(226, 205, 205);
  cursor: pointer;
}

.customTblBox.tblStripeWithFCD table tbody tr:hover td:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 3px;
  height: 100%;
  bottom: 0;
  margin: auto;
  background-color: #3123ae;
}

/* / ---------------TRACK TABLE DESIGN 1 END--------------- /  */

/* / ------------------------TRACK TABLE DESIGN END-------------------------------- / */

/* //////////////////////REFRESH RELOAD START/////////////////////////////// */

.syncBtn {
  display: flex;
 background-color: #dcad33;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  color: #fff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.syncBtn.rotateIt svg {
  animation: rotation 1s infinite;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

/* //////////////////////REFRESH RELOAD END/////////////////////////////// */
