:root {
    --pytSearchColor: #B6B6B6;
}

.pyt_SearchBox {
    position: relative;
    height: 44px;
    padding: 5px 25px;
    border:1px solid #b6b6b6;
    border-radius: 6px;
    width: 100%;
    transition: 0.25s all linear;
    color:#b6b6b6;
    background: #fff;
}

.pyt_SearchBox.pyt_Searching,
.pyt_SearchBox:focus {
    /* max-width: 50%; */
    transition: 0.25s all linear;
}

.pyt_SearchBox>input {
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.pyt_SearchBox>span {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    /* border: 0.5px solid black; */
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pyt_SearchBox>span.searchIconBox {
    position: absolute;
    left: 5px;
    opacity: 1;
}

.pyt_SearchBox.pyt_Searching>span.searchIconBox {
    left: 45px;
    opacity: 0;
    transition: 0.25s all linear;
}

.pyt_SearchBox>span.closeIconBox {
    position: absolute;
    right: 45px;
    opacity: 0;
    cursor: pointer;
    display: none;
}

.pyt_SearchBox.pyt_Searching>span.closeIconBox {
    display: flex;
    right: 5px;
    opacity: 1;
    transition-property: right, opacity;
    transition: 0.25s linear;
}