.styled-textarea {
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    resize: none;
  }

  .sepr-text{
    font-size: 15px;
    font-weight: 400;
  }

  .customTblBox{
    border-radius: 20px !important;
  }

  button:disabled {
    cursor: not-allowed;
  }
