
.dtPagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dtPagination a {
    margin: 0 10px;
  }
  
  .pagerMute {
    opacity: 0.5;
    cursor: not-allowed !important;
  }
  
  